@media screen and (max-width: 390px){
    body{
        height: 360px;
        width: 640px;
        overflow-x: hidden;
    }
    header{
       padding-left: 5px;
       width: 360px;
       border: none;
    }
    header ul{
        gap: 40px;
        
    }
    .logo .lg{
        margin-top: 7px;
        margin-right: 65px;
        font-size: 35px;
        margin-left: 20px;
    }
    header a{
        font-size: 30px;
    }
    .slider{
        margin-left: 45px;
        width: 710px;
    }
    h1.seg{
        width: 640px;
        padding-left: 30px;
        
    }
    p{
        width: 670px;
        font-size: 35px;
        padding-left: 50px;
    }
    div.corpo{
        width: 780px;
        padding-right: 10px;
        
    }
    .corpo section:hover .intem{
        height: 400px;
        width: 640px;
    }
    .arti{
        width: 500px;
    }
    .corpo section{
        margin-right: 75px;
        height: 400px;
        width: 640px;
    }
    .resumo{
        width: 640px;
        margin-left: 70px;
    }
    footer h1{
        height: 200px;
        width: 790px;
        padding: 80px 0px 0px 10px;
        border-top: 1px solid white;
        font-size: 40px;
    }
    
    .center{
        display: flex;
        justify-content: center;
        width: 640px;
        padding-left: 77px;
        padding-top: 30px;
    }
    .containe{
        display: flex;
        flex-direction: column;
        width: 630px;
        margin-left: 52px;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 630px;
        margin-left: 15px;
    }
    .center{
        font-size: 45px;
        padding-left: 90px;
    }
    .ft1{
        width: 760px;
    }
    .sb{
        font-size: 40px;
        width: 640px;
        padding-left: 70px;
        padding-bottom: 50px;
    }
    .par{
        font-size: 38px;
        padding-right: 40px;
    }
    .sobre{  
        width: 600px;
        margin-bottom: 50px;
    }
    
}